.F_notifivations{
background:white;
position: relative;
top: 15px;
}
h3{
  color: #66757F
}

li{
  display: inline-block;
}
.F_imguser{
  width: 15px;
  height: 18px;
}
.F_span5h{
  float: right;
  color:#66757F
}

.F_imgs{
  margin-top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
}
.F_twittersvg{
  width: 24px;
  height:21px;
}
