.e-header-wrap{
	height:50px;

	ul li{
		display: inline-block;
		color:#66757f;
		font-size: 16px;
		padding: 10px;
		transition: .3s;
		img {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			width:30px;
			height: 26px;
		}
		}
		ul li:hover {
			border-bottom:4px solid #0084b4;
		}
}

.e-bird,.e-egg {
	width:50px;
	height: 50px;
	padding: 10px;
}
.e-search{
	border-radius:21px;
	padding:5px;
	margin-top:8px;
	border:1px solid #e1e8ed;
	background:#f5f8fa;
}
.e-egg{
	border-radius:15px;
}
.e-button-tweet {
	display:inline-block;
	background-image:url("../../img/ear-e.png");
	    background-size:cover;
	img {

		width: 90px;
		height: 37px;
	}
}
.e-button-tweet:hover {
	display:inline-block;
	background-image:url("../../img/ear-hvr.png");
	background-size:cover;
}
.home-e {
	height:36px;
	width:43px;
	background-image:url("../../img/home-icon.png");
	background-size:cover;
	float:left;
	p {
		margin-left:40px;
		margin-top: 10px;
	}
}
.home-e:hover {
	background-image:url("../../img/home-hvr.png");
	background-size:cover;
	color:#2c7bb8;

}
.ring-e {
	height:36px;
	width:43px;
	background-image:url("../../img/ring-e.png");
	background-size:cover;
	float:left;
	p {
		margin-left:40px;
		margin-top: 10px;
	}
}
.ring-e:hover {
	background-image:url("../../img/ring-hvr.png");
	background-size:cover;
	color:#2c7bb8;
}
.envelope-e {
	height:36px;
	width:43px;
	background-image:url("../../img/envelope-e.png");
	background-size:cover;
	float:left;
	p {
		margin-left:40px;
		margin-top: 10px;
	}
}
.envelope-e:hover {
	background-image:url("../../img/envelope-hvr.png");
	background-size:cover;
	color:#2c7bb8;
}
.img-e:hover {
	border-bottom:4px solid #2c7bb8;
}
