#suggestion-column {
	.findFriends {
		margin-top: 5px;
    width: 100%;
		background-color: #fff;
		border: 1px solid #e1e8ed;
    padding-left:4px;
		height: auto;
    .follow_main{

    }

    .follow_sec{
      width: 250px;
    }
		h3 {
			font-size: 18px;
			display: inline-block;
			color: #66757f;
		}
		h4 {
			font-size: 12px;
			display: inline;
		}
    .text
    {
      // word-wrap: break-word;
      width: 100%;
      height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
			span{
				color: lightgray;
				font-size: 13px;
		 	}

    }

		.imgBox {

			width: 48px;
			height: 52px;
			margin-top: 10px;
      margin-left: 20px;
			border-radius: 5px;
		}
		img {
      margin-top: -7px;
			width: 48px;
			height: 52px;
			border-radius: 5px;
		}
		.col-md-4 {
			padding: 0;
		}
		.col-md-8  {

			a {
				font-weight: bolder;
				color: #292f33;
			}
			a:hover {
				color: #3333ff;
			}
			.btnFollow {
				width: 90px;
				height: 32px;
				border-radius: 5px;
				background-color: #ffffff;
				border: 1px solid #ccd6dd;
				font-size: 13px;
				font-weight: bolder;
				margin-top: -10px;
			}
			.btnFollow:hover {
				background-color: #e1e8ed;
			}
			i {
				color: #1da1f2;
			}
		}
	}
	.footer {
    width: 100%;
		background-color: #fff;
		border: 1px solid #e1e8ed;
		padding: 5px;
		height: auto;
		margin-top: 15px;
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			list-style-type: none;
			display: inline-block;
			font-size: 12px;
		}
		a {
			color: #8899a6;
		}
	}
	.advertise {
    width: 100%;
    font-size: 10px;
		background-color: #f2f2f2;
		border: 1px solid #e1e8ed;
		padding-bottom: 20px;
    padding-left: 5px;
    padding-top:5px;
		height: 30px;
	}
}
// Settings
.profil{
	height: 100px;
	border: 1px solid #e1e8ed;;
}
.account{
	.accbox{
		height: 40px;
		border: 1px solid #e1e8ed;
		background: #fff;
		padding: 10px 7px 10px 12px;
		font-size: 16px;
		color: #8899a6;
		font-weight: 300px;

	}
	.direcicon{
		float: right;

	}
	.accbox:nth-child(1){
		margin-top: 15px;
	}
	div:hover{
		background:#e6eeff;
		color:#1b95e0;
	}
}

.changeacc{
	height: auto;
	border: 1px solid #e1e8ed;
	background: #fff;
	padding: 7px 7px 7px 12px;
	color: #292f33;
	font-size: 20px;
	h6{
		font-size: 12px;
		color: #8899a6;
		line-height: 0;

	}
}
.username{
	height: auto;
	border: 1px solid #e1e8ed;
	background: #fff;
	padding: 8px 8px;
	 .col-md-2{
	 	height: 100px;
	 	// border: 1px solid black;
	 	display: inline-block;
	 	margin-top: 6px;
	 	h5{
	 		text-align: center;
	 		color: #292f33;
	 		font-size: 14px;
	 	}

	 }
	 .col-md-8{
	 	height: 100px;
	 	display: inline-block;
	 	margin-top: 6px;
	 	input{
	 		padding: 6px 7px;
	 		border: 1px solid #e1e8ed;
	 	}
	 	h6{
	 	 color: #66757f;
	 	}
	 	a{
	 		text-decoration: none;
	 	}

	 }


}

.content{
	height: auto;
	border: 1px solid #e1e8ed;
	background: #fff;
	padding: 10px 7px 10px 12px;
	color: #292f33;
	font-size: 20px;
	font-weight: bold;
	.col-md-2{
		h5{
			text-align: center;
	 		color: #292f33;
	 		font-size: 14px;
	 	}
	}

	.col-md-8{
		 	input{
	 		padding: 6px 7px;
	 		border: 1px solid #e1e8ed;
	 	}
	 	h6{
	 	 color: #66757f;
	 	}
	 	h5{
	 		font-size: 14px;
	 		color: #292f33;
	 	}
	}
}

// trends

.profil{
	height: 100px;
	border: 1px solid #e1e8ed;
}
.trends{
	height: auto;
	background: #fff;
	border: 1px solid #e1e8ed;
	margin-top: 15px;
	padding: 15px 12px;
	.hashtag{
		height: 40px;

		padding: 0;


	h2{
		font-size: 15px;
		color: #66757f;
		font-weight: 600;
		display: inline-block;
		margin-left: 2px;
		line-height: 0px;
		font-family: Arial,sans-serif;


	}
	h2:nth-child(3){
		font-size: 14px;
		font-weight: 300;
		}
  //  h2:nth-child(6){
		// font-size: 8px;
		// font-weight: 300px;
		// }

		a{
			color: #2B7BB9;
	}
	h6{
		line-height:0;
		color: #8899a6;
		margin-top: 3px;
	}
}
}
