

.card {

  margin-top: 5px;
	padding: 0;
	width: 100%;
	height: 207px;
	border: 1px solid lightgray;

	//Cover Image//

	.profileCover{
		padding: 0;
		 img{
			border-radius: 3px 3px 0 0;
			width: 100%;
			height: 95px;


		}
	}
	//Cover Image//

	//Profile info//
	.info {

		ul {
			margin-bottom: 0;
			height: 50px;
			li {
			list-style-type: none;

			#blackMamba {
			color: darkslategray;
			display: block;
			font-weight: 700;
		    font-size: 18px;
		    line-height: 16px;
		    font-family: Arial,sans-serif;
		    margin-top: 10px;
			}
			a {
				font-size: 12px;
			    color:gray;
			    border-radius: 6px;
			}
		}
	}
		img {
		width: 72px;
		height: 72px;
		border: 4px solid white;
		border-radius: 7px;
		position: relative;
		bottom: 25px;

		}
	}


	//Profile info//



	//Statistics of follows
	.stat {
		margin-top: 0;
	 	ul {
	 		padding: 0;
		 	li {
			display: inline-block;
			list-style-type: none;
				.statistics {
					color: gray ;
					transition: all .15s ease-in-out;
				}
				.statistics:hover {
					color: black;

				}
				a {
					font-size: 10px;
					display: block;
					text-decoration: none;
					color: darkslategray;
				}
			}
		}
	}

	//Statistics of follows
}


.sec {
	margin-top: 5px;
	height: auto;
	overflow: auto;
	width: 100%;
	border: 1px solid lightgray;

	//Trends
	.trends {
			h6 {
				display: inline-block;
				padding-top: 10px;
				color: #66757f;
			}
				a {
						color: black;
						font-size: 12px;
					}
			ul{
				 li{
					list-style-type: none;

				}

			}
	}

	//Trends
}
// profile from NG


.coverImage {
	background: url(https://pbs.twimg.com/profile_banners/485861114/1422943993/1500x500);
	height: 320px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	margin-top: 0px;
	position: relative;
	top: 0;

}
.b:hover {
	border-bottom: 6px solid black;
}
.b {
	transition: all .15s ease-in-out;
}
	.stat {


	 	ul {
	 		background-color: #fff;
	 		padding: 0;
	 		margin: 0;
	 		border-bottom: 1px solid #e1e8ed;
			height: 60px;
			box-sizing: border-box;
		li .img {
			border-radius: 7px;
		}

		li {
			display: inline-block;
			list-style-type: none;
			text-align: center;
			margin-top: 10px;



				.statistics {
					color: #66757f;
					font-size: 13px;
					transition: all .15s ease-in-out;
				}
				.statistics:hover {
					color: black;

				}
				a {
					font-size: 17px;
					display: block;
					text-decoration: none;
					color: black;
					border-radius: 7px;
				    letter-spacing: .02em;
				    text-transform: uppercase;

				}
					img {
						width: 200px;
						height: 200px;
						position: relative;
						top: -100px;
						left: -20px;
						border-radius: 8px;
						border: 5px solid white;

					}


				button {
				width: 109px;
				padding-top: 9px;
    			padding-bottom: 9px;
                background-color: #f5f8fa;
                background-image: linear-gradient(#fff,#f5f8fa);
				border: 1px solid #e1e8ed;
    			border-radius: 4px;
    			font-size: 14px;
			    font-weight: bold;
			    line-height: normal;
			    color: #66757f;
				}
				button:hover {
				    background-color: #e1e8ed;
				}
			}
			li:hover a {
				color: black;
			}
		}
	}



.profileInfo {
	text-align: left;
	position: absolute;
	top: 40px;
	h1 {
		font-weight: 700;
		font-size: 22px;
		line-height: 1;
		word-wrap: break-word;
		a {
			color: black;
		}
	}
	h2 {
		margin-top: 0;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1;
	    margin-bottom: 15	px;
	    a {
	    	color: #8899a6;
	    }
	}

	.location {
		 i {
		 	color: #8899a6;
		 	font-size: 16px;
    		line-height: 15px;
		 }
	 color: #292f33;
    font-size: 14px;
    line-height: 1;
    margin-top: 6px;
	}

	.join {
		i {
		font-size: 16px;
    	line-height: 15px;
    	color: #8899a6;
		}
	margin-top: 6px;
	margin-bottom: 12px;
	font-size: 14px;
	}

	.photos {
		i{
		font-size: 16px;
    	line-height: 15px;
    	color: #8899a6;
		}
		margin-top: 6px;
		margin-bottom: 12px;
		font-size: 14px;
		a {
			color: black;
		}
	}
	.images img{
		width: 83px;
		height: 83px;
		border-radius: 3px;
	}
}
